body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {

    font-size: 60px;
}

/****************/
/* Typography */
/****************/

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
    margin-top: 0;
    padding: 25px 0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
}

h2 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 25px 0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.accent-text,
time {
    color: #99D930;
}

p {
    margin-bottom: 0;
}

a {
    color: #99d930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: rgb(238, 240, 127);
}

.small-text {
    font-size: 16px;
    margin-top: 5px;
}

header,
section {
    padding: 100px 0;
}

/* header {
    background-color: #D7D7D7;
} */

.about-me {
    background-color: #FFEAEA;
}

/* .articles {
    background-color: #EAF9FF;
} */
.inverse {
    background-color: #252525;
    color: #fff;
}

.inverse .btns:hover,
.inverse .btns:focus {
    background-color: #fff;
    color: #252525;
}

.btns {
    display: inline-block;
    /* width: 200px; */
    padding: 10px 25px;
    margin-top: 25px;
    background-color: #99d930;
    color: #252525;
    text-decoration: none;
}

.btns:hover,
.btns:focus {
    background-color: #252525;
    color: #fff;
}